<!-- Footer in here -->
<footer>
  <div class="container mb-5 offset-1">
    <div class="row g-5 m-3">
      <div class="col-lg-6 col-sm-8 g-5">
        <h5 class="fw-bold">Beautiful Free Images & Pictures</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur<br />
          adipisicing elit.Lorem ipsum dolor sit amet
        </p>
        <a href="/" class="text-decoration-none text-info fw-bold p-2">Home</a
        ><br />
        <a
          href="{% url 'feed:post' %}"
          class="text-decoration-none text-success fw-bold p-2"
          >Post</a
        ><br />
        <a
          href="{% url 'feed:contact' %}"
          class="text-decoration-none text-warning fw-bold p-2"
          >Contact Us</a
        ><br />
        <a
          href="{% url 'feed:about' %}"
          class="text-decoration-none text-success fw-bold p-2"
          >About Us</a
        >
      </div>
      <div class="col-lg-6 col-sm-4 g-5">
        <h5>*All images used are from Unsplash.com</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h3 class="m-lg-2 fw-bold text-info">Chat us</h3>
        <div class="row row-cols-1 gx-sm-5">
          <div class="col-2">
            <a
              class="m-lg-3 m-sm-0"
              href="https://instagram.com/carethajrat"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/113019349/212677151-5fb7552c-e62a-4318-a1cf-a0972b1294ea.png"
                alt="Instagram Icon "
                height="30"
                width="30"
                class="rounded-circle"
              />
            </a>
          </div>
          <div class="col-2">
            <a
              class="m-lg-3 m-sm-0"
              href="https://instagram.com/carethajrat"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/113019349/212677160-3c3087d6-86f2-4992-ab3e-c7130b34c9b9.png"
                alt="Mail Icon "
                height="30"
                width="30"
                class="rounded-circle"
              />
            </a>
          </div>
          <div class="col-2">
            <a
              class="m-lg-3 m-sm-0"
              href="https://instagram.com/carethajrat"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/113019349/212677175-1dcdbac7-402e-40bd-92d4-9f889562e90e.jpg"
                alt="Whatsapp Icon "
                height="30"
                width="30"
                class="rounded-circle"
              />
            </a>
          </div>
          <div class="col-2">
            <a
              class="m-lg-3 m-sm-0"
              href="https://instagram.com/carethajrat"
              target="_blank"
            >
              <img
                src="https://user-images.githubusercontent.com/113019349/212677170-ff77089c-95bb-422a-8932-61114a6b0b5b.jpg"
                alt="Twitter Icon "
                height="30"
                width="30"
                class="rounded-circle"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
